.showroom {
    background: #222;
    width: 60%;
}

.showroom img{
    width: 100%;
    min-height: 400px; 
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);

}